*{
    margin: 0;
    padding: 0;
}


.banner{
    background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/Banner\ Image.png);
    
    /* height: 600px;
    background-position: center;
    width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center; */

    
    background-position: center;
    background-size: cover;
     background-repeat: no-repeat;
     width: 1320px;
     height: 600px;
  margin: 120px auto;
  border-radius: 16px;

    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 80px;
   
}
.banner-text{
    
    color: #FFFFFF; 
    
    text-align: center;
    
  
    
}
.banner-title{


font-size: 32px; 
margin-bottom: 20px;
}
.banner-subtitle{
    display: flex;
   justify-content: center;
   margin-top: 50px;
   font-weight: bold;
   font-size: 62px;
    
}
.discount{
    
    text-align: center;
    margin-top: 120px;
    
    
}
.discount-description{
    justify-content: center;
    text-align: center;
    
}
 .description-title{
    color: #FF0000;
    font-size: 88px;
    margin-bottom: 48px;
 }
 .description-p{
    color: #FF0000;
    font-size: 24px;
    margin-bottom: 16px;
 }
 .description-w{
    color: #070211;
    font-size: 48px;
 }
 .discount-new-year{
    margin-top: 48px;
 }
 .btn{
    
   
    font-size: 30px;
    margin-top: 48px;
    color: #FFFFFF;
    padding-left: 35px;
 }
  .party{
    background-image:linear-gradient( rgba(7, 2, 17, 0.2)),url(images/Vectorrr.png);
    
   
    background-position: center;
    background-size: cover;
     background-repeat: no-repeat;
     width: 1320px;
     height: 600px;
  margin: 120px auto;
  border-radius: 16px;
  

    border-radius:mixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;
    
  } 
.party-title{
    color: #FFFFFF;
    font-size: 64px;
    
    
    
}
.party-des{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin-top: 24px;
}
    >
.new-2024{
    width: 320px;
}
.Scheduled{
    font-size: 20px;
    
    justify-content: center;
    text-align: center;
   background-color:#EDE3E3;
   height: 482px;
   width: 1320px;
   border-radius: 16px;
   margin: 120px auto;
   padding-top: 200px;
    

}
.place, .date , .time{
    color: #FF0000;
    
}
.butn{
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
}
.offer{
    
    width: 1320px;
    height: 463px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 113px;
    
    
}
.head{
    color: #FF0000;
    font-size: 24px;
    margin-bottom: 16px;
    
}
.coming{
    font-size: 48px;
    margin-bottom: 22px;
}
.offer-description{
    font-size: 20px;
    color: #9D9D9D;
}
.circle{
    border:15px solid red;
    border-radius: 50%;
    margin-left: 70px;
    margin-right: 118px;
    
  
}
.n-2024{
    width: 276px;
    /* height: 170px; */
}

.n-2{
    color: #FF0000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
}
.n-description{
    color: #9D9D9D;
    font-size: 20px;
    
}
.holidays{
    width: 1320px;
    height: 986.07px;
    margin: auto;
    position: relative;
}
.holidays-description{
     width: 1068px;
    height: 260px; 
    margin:0 auto;
    padding-top: 80px;
    display: inline;
   
}
.function{
    font-size: 24px;
    color: #070211;
    margin-bottom: 16px;
    padding-left: 300px;
}
.hol{
    color: #FF0000;
}
.sale-holidays{
    font-size: 72px;
    margin-bottom: 28px;
}
.red-bg{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
}

.gift-box{
    position: absolute;
    left: 120px;
    bottom: 120px;
    width: 500px;
}
.discount{
    position: absolute;
    right: 180px;
    top: 420px;
    width: 220px;
}

.portfolio-pic{
    padding-left: 0px;
   
}

.portfolio{
    padding: 120px;
    width: 1320px;
    /* height: 1163px; */
  

}
.gifts{
    color: #FF0000;
    margin-bottom: 16px;
    font-size: 24px;
}
.aus{
    font-size: 48px;
    margin-bottom: 22px;
}
.p-des{
    color: #9D9D9D;
    margin-bottom: 48px;
}
.rect-3 , .rect-4 {
    margin-right: 10px;
    margin-bottom: 10px;
}
.rect-6, .rect-7{
        margin-right: 10px;
            margin-bottom: 10px

}
.rect-5{
    margin-bottom: 10px;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background-color: #FFFBF0;
    width: 1320px;
    height: 619px;
    
}
.msg-des{
       text-align: center;
       padding-left: 400px;
}
.grp-61{
 padding-left: 600px;
 margin-bottom: 40px;
}
.sub{
    font-size: 48px;
    color: #070211;
    margin-bottom: 22px;
}
.subscribe-box{
    width: 550px;
    height: 60px;
    background-color: white;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
}

.subscribe-box input{
    border: none;
    outline: none;

    width: 100%;
    padding-left: 30px;

    font-size: 16px;
}

.subscribe-box button{
    width: 180px;
    height: 100%;

    border: none;
    background-color: #ff1200;
    color: white;

    font-size: 18px;
    font-weight: 600;

    cursor: pointer;

    border-radius: 50px;
}
.p-msg-des{
    margin-bottom: 48px;
}

footer{
    background-color: #05001a;
    padding: 80px 120px;
}

/* top section */

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;

    margin-bottom: 40px;
}

.footer-top p{
    font-size: 22px;
    line-height: 40px;
}

/* line */

hr{
    border: 1px solid rgba(255,255,255,0.1);
}

/* social icons */

.footer-social{
    display: flex;
    justify-content: center;
    gap: 25px;

    padding: 40px 0;
}

.footer-social img{
    width: 55px;
    cursor: pointer;
}

/* bottom section */

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
}

.footer-bottom p,
.footer-bottom a{
    color: white;
    font-size: 22px;
    text-decoration: none;
}